nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF4B0;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-bottom: 2px solid #2774AE;
}

.nav-logo {
  font-family: 'Alfa Slab One', serif;
  color: #1a3f6f;
  margin: 0;
  font-size: 2.2rem;
  letter-spacing: 7px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #1a3f6f;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
  color: #FFD100;
}
